In [4]:
# Esercizio 1: Abbiamo una lista di liste: 
mat = [[0, 1, 2, 3, 4], [5, 6, 7, 8, 9], [10, 11, 12, 13, 14]] 
# Che tipo di struttura dati o matematica potrebbe rappresentare? 
# Notare che tutte le liste "interne" sono della stessa dimensione Come facciamo per accedere ad un elemento in particolare?

print("Questo proviene dalla prima lista:" , mat[0][2] , "\n" , 
      "Questo dalla seconda lista:" , mat[1][-1] , "\n" , 
      "Questo dalla terza lista:" , mat[2][3])

Questo proviene dalla prima lista: 2
 Questo dalla seconda lista: 9
 Questo dalla terza lista: 13

In [2]:
# Esercizio 2: Importiamo il modulo math e proviamo a usare le funzioni 
# .sin() 
# .cos() 
# .factorial() 
# e la variabile .pi la riconoscete?
import random
import math

numero_r = random.randint(1 , 100)

print(numero_r , "\n")

seno = math.sin(numero_r)
print("Questo è il seno:" , seno , "\n")

coseno = math.cos(numero_r)
print("Questo è il coseno:" , coseno , "\n" )

fattoriale = math.factorial(numero_r)
print("Questo è il fattoriale:" , fattoriale , "\n")

print("Questo è il pi greco:" , math.pi)
# RAPPRESENTA IL PI GRECO

4

Questo è il seno: -0.7568024953079282

Questo è il coseno: -0.6536436208636119

Questo è il fattoriale: 24

Questo è il pi greco: 3.141592653589793

In [31]:
# Esercizio 3: Proviamo a eseguire 
math.degrees(math.pi) 
# Qual è e cosa significa il risultato? Per saperne di più su questa funzione possiamo usare 
help(math.degrees)
# CONVERTE GLI ANGOLI DA RADIANTI IN GRADI

Help on built-in function degrees in module math:

degrees(x, /)
    Convert angle x from radians to degrees.

In [50]:
# Esercizio 4: L'azienda Object SpA ha creato una lista di quanti oggetti ha venduto ogni mese nell'ultimo anno: 
lst = [2000, 5500, 7200, 4320, 1280, 1900, 2500, 3900, 6410, 8150, 7100, 5350] 
# trasformiamola in un array NumPy (casting): 
import numpy as np
lst = np.array(lst) 
# e rispondiamo alle domande del CEO della Object SpA: 
# • qual è stata la vendita massima mensile? E quella minima? 
# • quali sono le vendite mensili maggiori di 4999 oggetti? E quante ne sono? 
# • quali sono le vendite minori di 3000 oggetti? 
# • in media quanti oggetti sono stati venduti al mese?

vendita_max = lst.max()
vendita_min = lst.min()
print("La vendita massima mensile è stata:" , vendita_max , " e quella minima:" , vendita_min)

vendite_alte = lst > 4999
print("Le vendite maggiori di 4999 sono:" , lst[vendite_alte] , " e sono:" , len(lst[vendite_alte]))

vendite_basse = lst < 3000
print("Le vendite minori di 3000 sono:" , lst[vendite_basse] , " e sono:" , len(lst[vendite_basse]))

vendite_media = round(lst.mean())
print("La media delle vendite mensile è:" , vendite_media)

La vendita massima mensile è stata: 8150  e quella minima: 1280
Le vendite maggiori di 4999 sono: [5500 7200 6410 8150 7100 5350]  e sono: 6
Le vendite minori di 3000 sono: [2000 1280 1900 2500]  e sono: 4
La media delle vendite mensile è: 4634

In [51]:
# Esercizio 5: Consideriamo il seguente dizionario: 
import pandas as pd
fatturati_dict = {1997: 12_000, 
                  1998: 15_000, 
                  1999: 20_000, 
                  2000: 23_000, 
                  2001: 25_000, 
                  2002: 17_000, 
                  2003: 14_000, 
                  2004: 21_000} 
# Consideriamo ora la seguente Series: 
fatturati_series = pd.Series([12_000, 15_000, 20_000, 23_000, 25_000, 17_000, 14_000, 21_000], index=range(1997, 2005)) 
# Possiamo accedere alle stesse informazioni nello stesso modo: 
fatturati_dict[1997] 
fatturati_series[1997] 
# Dunque qual è la differenza tra i due tipi di dato? Cosa potremmo fare con la Series che non possiamo fare con il dizionario?

12000

*RISPOSTA:* 
**Con una series è possibile cambiare il tipo di indicizzazione della lista una volta trasformata in series**

In [2]:
# Esercizio 6: L'azienda Object SpA ha un dataset con tutti gli stipendi dei dipendenti, memorizzato in un ndarray: 
import numpy as np 
stipendi = np.array( [100, 200, 300, 400, 500,  600, 700, 800, 900, 1000] ) 
# L'azienda ci chiede di raddoppiare tutti gli stipendi; 
# facciamolo in due modi: 
# • con un ciclo for 
# • con il masking 

# METODO CICLO FOR: 
print("Metodo ciclo for:")
stipendi_raddoppiati = []
for stipendio in stipendi:
    stipendi_raddoppiati.append(stipendio *2)

print(stipendi_raddoppiati)
print("\n")

# METODO MASKING: 
print("Metodo masking:" , stipendi *2)

Metodo ciclo for:
[200, 400, 600, 800, 1000, 1200, 1400, 1600, 1800, 2000]


Metodo masking: [ 200  400  600  800 1000 1200 1400 1600 1800 2000]