**selezioniamo amazon.csv, un dataset contenente una serie di recensioni su Amazon.**

In [2]:
import pandas as pd
amazon = pd.read_csv(r'C:\Users\alfim\Desktop\EPICODE\Esercizi\Python\Settimana 2\Venerdi\Materiale\amazon.csv')
amazon

                                              reviewText  Positive
0      This is a one of the best apps acording to a b...         1
1      This is a pretty good version of the game for ...         1
2      this is a really cool game. there are a bunch ...         1
3      This is a silly game and can be frustrating, b...         1
4      This is a terrific game on any pad. Hrs of fun...         1
...                                                  ...       ...
19995  this app is fricken stupid.it froze on the kin...         0
19996  Please add me!!!!! I need neighbors! Ginger101...         1
19997  love it!  this game. is awesome. wish it had m...         1
19998  I love love love this app on my side of fashio...         1
19999  This game is a rip off. Here is a list of thin...         0

[20000 rows x 2 columns]

• Valutiamo la dimensione del dataset 
• Visualizziamo dieci righe a caso; 
• Osserviamo quali sono i nomi di colonna; 
• Il dataset è bilanciato, ovvero, il numero di recensioni positive è uguale a quello delle negative, oppure no?

In [12]:
# • Valutiamo la dimensione del dataset 
amazon.shape

(20000, 2)

In [13]:
# • Visualizziamo dieci righe a caso; 
amazon.sample(10)

                                              reviewText  Positive
1904   Works very well with Huawei Ascend II. Adobe i...         1
3297   First I tried the free version and couldn't ge...         1
19249  I give this app very high marks for the flexib...         1
4544   I love this so much. I have always loved doing...         1
8574   great for occasions such as road trips where y...         1
3965   this app wakes me up in a kind and gentle mann...         1
15419  I use this app daily to keep up with various t...         1
4449   This app doesn't do anything but list bills.  ...         0
19398  The 2-player mode works excellent on my gTab, ...         1
9199   This works as well on Kindle Fire HDX as it di...         1

In [16]:
# • Osserviamo quali sono i nomi di colonna; 
amazon.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20000 entries, 0 to 19999
Data columns (total 2 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   reviewText  20000 non-null  object
 1   Positive    20000 non-null  int64
dtypes: int64(1), object(1)
memory usage: 312.6+ KB

In [23]:
# • Il dataset è bilanciato, ovvero, il numero di recensioni positive è uguale a quello delle negative, oppure no?
R_positive = amazon['Positive'] == 1
R_negative = amazon['Positive'] == 0

conteggio_P = len(amazon.loc[R_positive])
conteggio_N = len(amazon.loc[R_negative])

print("Il numero di recensioni positive è:" , conteggio_P , "\n" , "Il numero di recensioni negative è:" , conteggio_N)

Il numero di recensioni positive è: 15233
 Il numero di recensioni negative è: 4767

In [3]:
# METODO ALTERNATIVO: 
amazon['Positive'].value_counts()

Positive
1    15233
0     4767
Name: count, dtype: int64