**Esercizio:**
**Il dataset diabetes.csv raccoglie persone con diabete o meno, e il valore di diverse variabili fisiologiche dei pazienti.**

In [1]:
import pandas as pd
diabetes = pd.read_csv(r'C:\Users\alfim\Desktop\EPICODE\Esercizi\Python\Settimana 2\Venerdi\Materiale\diabetes.csv')
diabetes

,Number of times pregnant,Plasma glucose concentration a 2 hours in an oral glucose tolerance test,Diastolic blood pressure (mm Hg),Triceps skin fold thickness (mm),2-Hour serum insulin (mu U/ml),Body mass index (weight in kg/(height in m)^2),Diabetes pedigree function,Age (years),Class variable
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1
...,...,...,...,...,...,...,...,...,...
763,10,101,76,48,180,32.9,0.171,63,0
764,2,122,70,27,0,36.8,0.340,27,0
765,5,121,72,23,112,26.2,0.245,30,0
766,1,126,60,0,0,30.1,0.349,47,1
767,1,93,70,31,0,30.4,0.315,23,0

• Osserviamone le dimensioni e un'anteprima di cinque righe; 
• Prendiamoci un po' di tempo per dare un'occhiata ai metadati delle colonne; 
• Stampiamo dei descrittori statistici del dataset; 
• Selezioniamo i dati relativi a diverse fasce di età: <20, 20-30, 30-40, 40-50, >50; 
• Qual è la media della pressione sanguigna diastolica per le diverse fasce di età? 
• Qual è la media della pressione per ogni singolo anno di età?

In [7]:
# • Osserviamone le dimensioni e un'anteprima di cinque righe; 
dimensioni = diabetes.shape
print("Dimensioni" , dimensioni , "\n")
diabetes.sample(5)

Dimensioni (768, 9)

,Number of times pregnant,Plasma glucose concentration a 2 hours in an oral glucose tolerance test,Diastolic blood pressure (mm Hg),Triceps skin fold thickness (mm),2-Hour serum insulin (mu U/ml),Body mass index (weight in kg/(height in m)^2),Diabetes pedigree function,Age (years),Class variable
325,1,157,72,21,168,25.6,0.123,24,0
119,4,99,76,15,51,23.2,0.223,21,0
172,2,87,0,23,0,28.9,0.773,25,0
14,5,166,72,19,175,25.8,0.587,51,1
36,11,138,76,0,0,33.2,0.420,35,0

In [8]:
# • Prendiamoci un po' di tempo per dare un'occhiata ai metadati delle colonne; 
diabetes.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 768 entries, 0 to 767
Data columns (total 9 columns):
 #   Column                                                                    Non-Null Count  Dtype
---  ------                                                                    --------------  -----
 0   Number of times pregnant                                                  768 non-null    int64
 1   Plasma glucose concentration a 2 hours in an oral glucose tolerance test  768 non-null    int64
 2   Diastolic blood pressure (mm Hg)                                          768 non-null    int64
 3   Triceps skin fold thickness (mm)                                          768 non-null    int64
 4   2-Hour serum insulin (mu U/ml)                                            768 non-null    int64
 5   Body mass index (weight in kg/(height in m)^2)                            768 non-null    float64
 6   Diabetes pedigree function                                                768 non-null    float64
 7   Age (years)                                                               768 non-null    int64
 8   Class variable                                                            768 non-null    int64
dtypes: float64(2), int64(7)
memory usage: 54.1 KB

In [3]:
# • Stampiamo dei descrittori statistici del dataset; 
diabetes.describe()

,Number of times pregnant,Plasma glucose concentration a 2 hours in an oral glucose tolerance test,Diastolic blood pressure (mm Hg),Triceps skin fold thickness (mm),2-Hour serum insulin (mu U/ml),Body mass index (weight in kg/(height in m)^2),Diabetes pedigree function,Age (years),Class variable
count,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000
mean,3.845052,120.894531,69.105469,20.536458,79.799479,31.992578,0.471876,33.240885,0.348958
std,3.369578,31.972618,19.355807,15.952218,115.244002,7.884160,0.331329,11.760232,0.476951
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.078000,21.000000,0.000000
25%,1.000000,99.000000,62.000000,0.000000,0.000000,27.300000,0.243750,24.000000,0.000000
50%,3.000000,117.000000,72.000000,23.000000,30.500000,32.000000,0.372500,29.000000,0.000000
75%,6.000000,140.250000,80.000000,32.000000,127.250000,36.600000,0.626250,41.000000,1.000000
max,17.000000,199.000000,122.000000,99.000000,846.000000,67.100000,2.420000,81.000000,1.000000

In [18]:
# • Selezioniamo i dati relativi a diverse fasce di età: <20, 20-30, 30-40, 40-50, >50; 
filtro_minori_20 = diabetes['Age (years)'] < 20                                         #NELLA TABELLA NON SONO PRESENTI MINORI DI 20
filtro_20_e_30 = (diabetes['Age (years)'] >= 20) & (diabetes['Age (years)'] < 30)
filtro_30_e_40 = (diabetes['Age (years)'] >= 30) & (diabetes['Age (years)'] < 40)
filtro_40_e_50 = (diabetes['Age (years)'] >= 40) & (diabetes['Age (years)'] <= 50)      #HO PROVATO A USARE IL METODO BETWEEN MA NON CI SONO RIUSCITO
filtro_maggiori_50 = diabetes['Age (years)'] >= 50

print(diabetes[filtro_minori_20].shape[0])
print(diabetes[filtro_20_e_30].shape[0])
print(diabetes[filtro_30_e_40].shape[0])
print(diabetes[filtro_40_e_50].shape[0])
print(diabetes[filtro_maggiori_50].shape[0])

0
396
165
126
89

In [24]:
# • Qual è la media della pressione sanguigna diastolica per le diverse fasce di età?
filtro_minori_20 = diabetes['Age (years)'] < 20

maschera_minori_20 = diabetes.loc[filtro_minori_20]

#media_minori_20 = round(maschera_minori_20["Diastolic blood pressure (mm Hg)"].mean())
#---------------------------------------------------------------------------------------------
filtro_20_e_30 = (diabetes['Age (years)'] >= 20) & (diabetes['Age (years)'] < 30)       #FILTRO FASCIA DI ETA DAL PRECEDENTE ESERCIZIO

maschera_20_30 = diabetes.loc[filtro_20_e_30]                                           #MASCHERA PER TABELLA

media_20_e_30 = round(maschera_20_30["Diastolic blood pressure (mm Hg)"].mean())     #MEDIA DELLA PRESSIONE SANGUIGNA BASATA SULLA MASCHERA
#---------------------------------------------------------------------------------------------
filtro_30_e_40 = (diabetes['Age (years)'] >= 30) & (diabetes['Age (years)'] < 40)

maschera_30_e_40 = diabetes.loc[filtro_30_e_40]

media_30_e_40 = round(maschera_30_e_40["Diastolic blood pressure (mm Hg)"].mean())
#---------------------------------------------------------------------------------------------
filtro_40_e_50 = (diabetes['Age (years)'] >= 40) & (diabetes['Age (years)'] <= 50) 

maschera_40_e_50 = diabetes.loc[filtro_40_e_50]

media_40_e_50 = round(maschera_40_e_50["Diastolic blood pressure (mm Hg)"].mean())
#---------------------------------------------------------------------------------------------
filtro_maggiori_50 = diabetes['Age (years)'] > 50

maschera_maggiori_50 = diabetes.loc[filtro_maggiori_50]

media_maggiori_50 = round(maschera_maggiori_50["Diastolic blood pressure (mm Hg)"].mean())
#---------------------------------------------------------------------------------------------
print("Nella lista non sono presenti minori di 20")
print("La media per la fascia di età 20-30 è di:" , media_20_e_30)
print("La media per la fascia di età 30-40 è di:" , media_30_e_40)
print("La media per la fascia di età 40-50 è di:" , media_40_e_50)
print("La media per la fascia di età superiori ai 50 è di:" , media_maggiori_50)

Nella lista non sono presenti minori di 20
La media per la fascia di età 20-30 è di: 65
La media per la fascia di età 30-40 è di: 70
La media per la fascia di età 40-50 è di: 74
La media per la fascia di età superiori ai 50 è di: 78

In [19]:
# • Qual è la media della pressione per ogni singolo anno di età?
media_pressione_x_eta = diabetes.groupby(['Age (years)'])["Diastolic blood pressure (mm Hg)"].mean()
print(media_pressione_x_eta)

Age (years)
21    65.936508
22    63.722222
23    64.315789
24    64.956522
25    59.666667
26    64.181818
27    73.500000
28    68.314286
29    68.241379
30    64.857143
31    64.375000
32    70.062500
33    65.647059
34    74.000000
35    75.600000
36    69.125000
37    75.947368
38    71.125000
39    72.666667
40    69.230769
41    67.590909
42    73.388889
43    78.461538
44    61.750000
45    83.066667
46    76.000000
47    78.333333
48    78.400000
49    81.400000
50    78.250000
51    84.500000
52    81.500000
53    79.000000
54    89.333333
55    70.250000
56    76.333333
57    76.800000
58    78.285714
59    74.000000
60    80.000000
61    76.000000
62    71.500000
63    78.000000
64    78.000000
65    78.666667
66    86.000000
67    72.666667
68    82.000000
69    81.000000
70    82.000000
72     0.000000
81    74.000000
Name: Diastolic blood pressure (mm Hg), dtype: float64