**Esercizio 1/2 
Il dataset pokemon.csv contiene un database di Pokémon, con dati quali nome, tipi di attacco, valori di attacco/difesa/eccetera, e se sono o meno leggendari.**

In [2]:
import pandas as pd
pokemon = pd.read_csv(r'C:\Users\alfim\Desktop\EPICODE\Esercizi\Python\Settimana 2\Venerdi\Materiale\pokemon.csv')
pokemon

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,600,50,100,150,100,150,50,6,True
796,719,DiancieMega Diancie,Rock,Fairy,700,50,160,110,160,110,110,6,True
797,720,HoopaHoopa Confined,Psychic,Ghost,600,80,110,60,150,130,70,6,True
798,720,HoopaHoopa Unbound,Psychic,Dark,680,80,160,60,170,130,80,6,True
799,721,Volcanion,Fire,Water,600,80,110,120,130,90,70,6,True

**• Verifichiamo la dimensione, un'anteprima e osserviamo i nomi di colonna; 
• È verosimile che la prima colonna dovrebbe essere un indice? 
• Confrontiamolo con l'indice messo automaticamente da Pandas: combaciano? 
• Se no, settare la prima colonna come indice.**

In [3]:
# • Verifichiamo la dimensione, un'anteprima e osserviamo i nomi di colonna; 
print(pokemon.shape , "\n")
pokemon.info()

(800, 13)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 800 entries, 0 to 799
Data columns (total 13 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   #           800 non-null    int64
 1   Name        800 non-null    object
 2   Type 1      800 non-null    object
 3   Type 2      414 non-null    object
 4   Total       800 non-null    int64
 5   HP          800 non-null    int64
 6   Attack      800 non-null    int64
 7   Defense     800 non-null    int64
 8   Sp. Atk     800 non-null    int64
 9   Sp. Def     800 non-null    int64
 10  Speed       800 non-null    int64
 11  Generation  800 non-null    int64
 12  Legendary   800 non-null    bool
dtypes: bool(1), int64(9), object(3)
memory usage: 75.9+ KB

In [3]:
pokemon.sample(10)

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
134,125,Electabuzz,Electric,NaN,490,65,83,57,95,85,105,1,False
645,584,Vanilluxe,Ice,NaN,535,71,95,85,110,95,79,5,False
220,205,Forretress,Bug,Steel,465,75,90,140,60,60,40,2,False
730,662,Fletchinder,Fire,Flying,382,62,73,55,56,52,84,6,False
26,21,Spearow,Normal,Flying,262,40,60,30,31,31,70,1,False
763,693,Clawitzer,Water,NaN,500,71,73,88,120,89,59,6,False
614,554,Darumaka,Fire,NaN,315,70,90,45,15,45,50,5,False
453,408,Cranidos,Rock,NaN,350,67,125,40,30,30,58,4,False
720,652,Chesnaught,Grass,Fighting,530,88,107,122,74,75,64,6,False
751,681,AegislashShield Forme,Steel,Ghost,520,60,50,150,50,150,60,6,False

In [4]:
# • È verosimile che la prima colonna dovrebbe essere un indice? 
# • Confrontiamolo con l'indice messo automaticamente da Pandas: combaciano?
pokemon['#']

0        1
1        2
2        3
3        3
4        4
      ...
795    719
796    719
797    720
798    720
799    721
Name: #, Length: 800, dtype: int64

In [5]:
# • Se no, settare la prima colonna come indice.
pokemon = pokemon.set_index('#')

In [6]:
pokemon

,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
#,,,,,,,,,,,,
1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...
719,Diancie,Rock,Fairy,600,50,100,150,100,150,50,6,True
719,DiancieMega Diancie,Rock,Fairy,700,50,160,110,160,110,110,6,True
720,HoopaHoopa Confined,Psychic,Ghost,600,80,110,60,150,130,70,6,True
720,HoopaHoopa Unbound,Psychic,Dark,680,80,160,60,170,130,80,6,True
721,Volcanion,Fire,Water,600,80,110,120,130,90,70,6,True

**Esercizio 2/2 
• Quali sono i Pokémon leggendari? 
• E quali sono i leggendari di tipo 1 Grass? 
• E leggendari di tipo 1 Ice o Fire? 
• Ordiniamo il dataset per la colonna Name; 
• Trasformiamo Name nell'indice; 
• Quali sono i Pokémon della prima generazione con attacco > 50 e HP < 60?**

In [3]:
# • Quali sono i Pokémon leggendari? 
filtro_leggendari = pokemon['Legendary'] == True
pokemon[filtro_leggendari]

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
156,144,Articuno,Ice,Flying,580,90,85,100,95,125,85,1,True
157,145,Zapdos,Electric,Flying,580,90,90,85,125,90,100,1,True
158,146,Moltres,Fire,Flying,580,90,100,90,125,85,90,1,True
162,150,Mewtwo,Psychic,NaN,680,106,110,90,154,90,130,1,True
163,150,MewtwoMega Mewtwo X,Psychic,Fighting,780,106,190,100,154,100,130,1,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,600,50,100,150,100,150,50,6,True
796,719,DiancieMega Diancie,Rock,Fairy,700,50,160,110,160,110,110,6,True
797,720,HoopaHoopa Confined,Psychic,Ghost,600,80,110,60,150,130,70,6,True
798,720,HoopaHoopa Unbound,Psychic,Dark,680,80,160,60,170,130,80,6,True
799,721,Volcanion,Fire,Water,600,80,110,120,130,90,70,6,True

In [8]:
# • E quali sono i leggendari di tipo 1 Grass? 
filtro_leggendari = pokemon['Legendary'] == True
filtro_grass = pokemon['Type 1'] == 'Grass'

pokemon[(filtro_leggendari) & (filtro_grass)]

,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
#,,,,,,,,,,,,
492,ShayminLand Forme,Grass,NaN,600,100,100,100,100,100,100,4,True
492,ShayminSky Forme,Grass,Flying,600,100,103,75,120,75,127,4,True
640,Virizion,Grass,Fighting,580,91,90,72,90,129,108,5,True

In [9]:
# • E leggendari di tipo 1 Ice o Fire? 
filtro_leggendari = pokemon['Legendary'] == True
filtro_ice = pokemon['Type 1'] == 'Ice'
filtro_fire = pokemon['Type 1'] == 'Fire'

pokemon[(filtro_leggendari) & ((filtro_ice) | (filtro_fire))]

,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
#,,,,,,,,,,,,
144,Articuno,Ice,Flying,580,90,85,100,95,125,85,1,True
146,Moltres,Fire,Flying,580,90,100,90,125,85,90,1,True
244,Entei,Fire,NaN,580,115,115,85,90,75,100,2,True
250,Ho-oh,Fire,Flying,680,106,130,90,110,154,90,2,True
378,Regice,Ice,NaN,580,80,50,100,100,200,50,3,True
485,Heatran,Fire,Steel,600,91,90,106,130,106,77,4,True
721,Volcanion,Fire,Water,600,80,110,120,130,90,70,6,True

In [10]:
# • Ordiniamo il dataset per la colonna Name; 
pokemon.sort_values(by = 'Name')

,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
#,,,,,,,,,,,,
460,Abomasnow,Grass,Ice,494,90,92,75,92,85,60,4,False
460,AbomasnowMega Abomasnow,Grass,Ice,594,90,132,105,132,105,30,4,False
63,Abra,Psychic,NaN,310,25,20,15,105,55,90,1,False
359,Absol,Dark,NaN,465,65,130,60,75,60,75,3,False
359,AbsolMega Absol,Dark,NaN,565,65,150,60,115,60,115,3,False
...,...,...,...,...,...,...,...,...,...,...,...,...
571,Zoroark,Dark,NaN,510,60,105,60,120,60,105,5,False
570,Zorua,Dark,NaN,330,40,65,40,80,40,65,5,False
41,Zubat,Poison,Flying,245,40,45,35,30,40,55,1,False
634,Zweilous,Dark,Dragon,420,72,85,70,65,70,58,5,False
718,Zygarde50% Forme,Dragon,Ground,600,108,100,121,81,95,95,6,True

In [16]:
# • Trasformiamo Name nell'indice; 
pokemon = pokemon.sort_values(by = 'Name').set_index('Name')
pokemon

,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
Name,,,,,,,,,,,
Abomasnow,Grass,Ice,494,90,92,75,92,85,60,4,False
AbomasnowMega Abomasnow,Grass,Ice,594,90,132,105,132,105,30,4,False
Abra,Psychic,NaN,310,25,20,15,105,55,90,1,False
Absol,Dark,NaN,465,65,130,60,75,60,75,3,False
AbsolMega Absol,Dark,NaN,565,65,150,60,115,60,115,3,False
...,...,...,...,...,...,...,...,...,...,...,...
Zoroark,Dark,NaN,510,60,105,60,120,60,105,5,False
Zorua,Dark,NaN,330,40,65,40,80,40,65,5,False
Zubat,Poison,Flying,245,40,45,35,30,40,55,1,False
Zweilous,Dark,Dragon,420,72,85,70,65,70,58,5,False
Zygarde50% Forme,Dragon,Ground,600,108,100,121,81,95,95,6,True

In [18]:
# • Quali sono i Pokémon della prima generazione con attacco > 50 e HP < 60?
filtro_generazione = pokemon['Generation'] == 1
filtro_attacco = pokemon['Attack'] > 50
filtro_hp = pokemon['HP'] < 60

pokemon[(filtro_generazione) & ((filtro_attacco) & (filtro_hp))]

,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
Name,,,,,,,,,,,
Bellsprout,Grass,Poison,300,50,75,35,70,30,40,1,False
Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False
Charmeleon,Fire,NaN,405,58,64,58,80,65,80,1,False
Cloyster,Water,Ice,525,50,95,180,85,45,70,1,False
Diglett,Ground,NaN,265,10,55,25,35,45,95,1,False
Doduo,Normal,Flying,310,35,85,45,35,35,75,1,False
Dratini,Dragon,NaN,300,41,64,45,50,50,50,1,False
Dugtrio,Ground,NaN,405,35,80,50,50,70,120,1,False
Eevee,Normal,NaN,325,55,55,50,45,65,55,1,False
Ekans,Poison,NaN,288,35,60,44,40,54,55,1,False
Farfetch'd,Normal,Flying,352,52,65,55,58,62,60,1,False
Geodude,Rock,Ground,300,40,80,100,30,30,20,1,False
Goldeen,Water,NaN,320,45,67,60,35,50,63,1,False
Graveler,Rock,Ground,390,55,95,115,45,45,35,1,False
Growlithe,Fire,NaN,350,55,70,45,70,50,60,1,False
Hitmonchan,Fighting,NaN,455,50,105,79,35,110,76,1,False
Hitmonlee,Fighting,NaN,455,50,120,53,35,110,87,1,False
Kabuto,Rock,Water,355,30,80,90,55,45,55,1,False
Kingler,Water,NaN,475,55,130,115,50,50,75,1,False
Koffing,Poison,NaN,340,40,65,95,60,45,35,1,False
Krabby,Water,NaN,325,30,105,90,25,25,50,1,False
Magneton,Electric,Steel,465,50,60,95,120,70,70,1,False
Mankey,Fighting,NaN,305,40,80,35,35,45,70,1,False
Nidoran♂,Poison,NaN,273,46,57,40,40,40,50,1,False
Paras,Bug,Grass,285,35,70,55,45,55,25,1,False
Pikachu,Electric,NaN,320,35,55,40,50,50,90,1,False
Ponyta,Fire,NaN,410,50,85,55,65,65,90,1,False
Psyduck,Water,NaN,320,50,52,48,65,50,55,1,False
Raticate,Normal,NaN,413,55,81,60,50,70,97,1,False
Rattata,Normal,NaN,253,30,56,35,25,35,72,1,False
Sandshrew,Ground,NaN,300,50,75,85,20,30,40,1,False
Seadra,Water,NaN,440,55,65,95,95,45,85,1,False
Shellder,Water,NaN,305,30,65,100,45,25,40,1,False
Spearow,Normal,Flying,262,40,60,30,31,31,70,1,False
Wartortle,Water,NaN,405,59,63,80,65,80,58,1,False